.indicator {
  position: absolute;
  right: 0;
  bottom: 5px;

  width: 11px;
  height: 11px;

  outline: 2px solid #fff;
  border-radius: 100%;

  opacity: 0;
  transition: 0.4s;

  &.active {
    background-color: #4bb34b;

    opacity: 1;
  }
}
