.modal {
  transition: 0.4s;

  &.entering {
    opacity: 1;
  }

  &.entered {
    opacity: 1;
    z-index: 100;
  }

  &.exiting {
    opacity: 0;
  }

  &.exited {
    opacity: 0;
    z-index: -100;
  }
}
