@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

#root {
  width: 100%;
}

.global-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 80px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 80px;
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}
